/* Global styles starts here */

:root {
  --c-1: #272a31;
  --c-2: #ec5242;
  --c-3: #d3d3d3;
}

/* Global styles ends here */

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Main section starts here */

main {
  width: 100%;
}

/* Main section ends here */

/* Banner starts Here */

.banner {
  width: 100%;
  min-height: 549px;
  background: url(img/home-bg-mobile.png) no-repeat;
  background-size: 100% 100%;
}

/* Banner ends Here */

/* Nav starts here */

nav {
  width: 92%;
  min-height: 63px;
}

.hamburger_icon {
  width: 31px;
  height: 27px;
}

/* Nav ends here */

/* Banner content starts here */

div.banner_content {
  width: 92%;
  min-height: 309px;
}

p.banner_content:nth-child(1) {
  color: var(--c-2);
  font-size: 1.5rem;
}

h1.banner_content {
  color: var(--c-2);
  font-size: 2.05rem;
  font-weight: 1000;
  text-transform: uppercase;
}

div.banner_content_description {
  min-height: 85px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
}

p.banner_content_description {
  color: var(--c-1);
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

h3.banner_content {
  font-weight: 900;
  font-size: 20px;
  color: var(--c-1);
}

h5.banner_content {
  font-weight: 700;
  font-size: 13px;
}

/* Banner content ends here */

/* Feature Section Starts Here */

section.feature {
  width: 100%;
  min-height: 662px;
  background: url(img/feature-bg-mobile.png) no-repeat;
  background-size: cover;
}

section.feature > .wrapper {
  width: 96%;
  min-height: 601px;
}

h3.feature {
  color: var(--c-3);
  font-weight: 400;
  font-size: 20px;
}

h3.feature > span {
  width: 30px;
  height: 0;
  border: 2px solid var(--c-2);
  margin-top: 15px;
}

.feature-box {
  width: 100%;
  min-height: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-box > li {
  width: 100%;
  min-height: 82px;
  background-color: #0000004f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #d3d3d3;
}

.program_icon {
  width: 57px;
  height: 51px;
}

.program_title {
  font-weight: 700;
  margin: 0;
  font-size: 17px;
  color: var(--c-2);
}

.program_descp {
  font-weight: 700;
  font-size: 10px;
  line-height: 22px;
  flex-basis: 191px;
  margin: 0;
}

button.feature {
  width: 300px;
  height: 68px;
  background-color: var(--c-2);
  color: var(--c-3);
  border: none;
  font-weight: 900;
  font-size: 16px;
}

/* Feature Section Ends Here */

/* Speakers Section Starts Here */

section.speakers {
  width: 93%;
  min-height: 391px;
  margin: auto;
  margin-top: 14px;
}

#speakers_title {
  color: var(--c-1);
}

section.speakers > ul {
  width: 100%;
  min-height: 254px;
  gap: 18px 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.speakers_box {
  width: 100%;
  min-height: 110px;
  display: flex;
  justify-content: space-between;
}

.speakers_box > img {
  height: 106px;
  align-self: flex-start;
}

.speakers_box > div {
  width: 65%;
  min-height: 100px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.speakers_details {
  width: 100%;
  min-height: 60px;
}

h3.speakers_details {
  font-weight: 700;
  font-size: 15px;
  color: var(--c-1);
}

h5.speakers_details {
  font-weight: 700;
  font-size: 10px;
  color: var(--c-2);
}

p.speakers_details {
  margin: 0;
  font-weight: 700;
  font-size: 9px;
  color: var(--c-1);
}

button.more_speakers {
  width: 100%;
  min-height: 38px;
  border: 1px solid var(--c-3);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 700;
  font-size: 11px;
}

button.more_speakers > span {
  display: inline-block;
  background-image: url(img/down-arrow.png);
}

/* Speakers Section Ends Here */

/* About page starts here */

/* Banner section starts here */

.about.banner {
  width: 100%;
  min-height: 514px;
  background-image: url(img/about-bg-mobile.png);
}

div.about_banner_content {
  width: 100%;
  min-height: 451px;
}

div.about_banner_content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner_title_box {
  width: 96%;
  min-height: 103px;
}

.banner_description_box {
  width: 96%;
  min-height: 164px;
}

.about_banner_content_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--c-1);
}

.banner_address_box {
  width: 78%;
  min-height: 68px;
}

.banner_address_box > p {
  font-weight: 700;
  color: var(--c-1);
  font-size: 12px;
  line-height: 25px;
}

.banner_address_box > a {
  font-weight: 800;
  font-size: 12px;
  line-height: 25px;
  color: var(--c-1);
  text-decoration: underline;
}

/* About section starts here */

section.about {
  width: 100%;
  min-height: 353px;
}

.about_content_box {
  width: 94%;
  min-height: 138px;
  text-align: center;
}

.about_title,
.past_summits_title {
  width: 64%;
  height: 76px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--c-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#underline > span,
#past_summits_underline > span {
  width: 15%;
  border: 2px solid var(--c-2);
}

.about_description {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.about_logo {
  width: 100%;
}

/* Past summits section starts here */

section.past_summits {
  width: 100%;
  min-height: 583px;
  padding: 33px 0;
}

.past_summits_wrapper {
  width: 89%;
  min-height: 515px;
  margin: auto;
  gap: 35px 0;
}

.past_summits_content_box {
  width: 96%;
  text-align: center;
  gap: 10px 0;
}

.past_summits_title {
  width: 84%;
  height: unset;
}

#past_summits_underline > span {
  margin-top: 10px;
}

.past_summits_description {
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  color: var(--c-1);
}

.past_summits_img_box {
  width: 100%;
  gap: 25px 0;
}

.past_summits_img {
  width: 100%;
  min-height: 184px;
  background-color: #b86f67;
}

/* About page ends here */
